* {
    scroll-behavior: smooth;
}
body {
    background: #1f1e30;
}

.navbar {
    width: 100%;
    height: 90px;
    background: #313155;
    margin-bottom: 2%;
}

/* START MENU ICON */

.navbar button { outline: 0; }

.menu-icon-change {
    display: inline;
    cursor: pointer;
    margin: 15px 10px 30px 2px;
    border: none;
    background: none;
    color: white;
}

/* END MENU ICON */

#image, img {
    background: url(img/logo-transparent.png);
    width: 170px;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/* START SIDE BAR */

.sidebar {
    height: 80%;
    margin: 0px 10px 10px 27px;
    border-radius: 15px;
    width: 50px; /*50px*/
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(rgb(49, 49, 85), rgb(137, 137, 206));
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 16px;
    transition: 0.08s ease-in-out;
}

#sidebar-line {
    background-color: #fff;
    height: 1px;
    width: 75%;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.sidebar button {
    display: block;
    background: transparent;
    line-height: 180%;
    padding-bottom: 10px;
    margin: auto;
    cursor: pointer;
    border: none;
    outline: 0;
    color: #fff;
}

.sidebar button a {
    text-decoration: none;
    color: #fff;
}

.sidebar button a:hover,
.sidebar button:hover {
    color: #111;
}

/* END SIDE BAR */


.search-modal .modal-content {
    background: red;
    color: red;
}

.modal-body {
    color: #111;
}

.modal-body form input {
    background: transparent;
    border: 2px solid #111;
    background: #fff;
    color: #111;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 20%;
    display: inline;
}

#myInput {
    width: 50%;
}

.country-mode-modal .modal-content,
.search-modal .modal-content {
    background: #1f1e30;
    color: white;
}

.modal-body {
    color: #111;
}

.search-bar {
    display: block;
    margin: auto;
    border: yellow;
}

.search-modal .modal-content .modal-body form div,
.search-modal .modal-content .modal-body form input {
    display: inline-block;
}

input[type=text], input[type=submit] {
    color: white;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;
}

input[type=submit] {
    border: solid 2px white;
}

input[type=submit]:hover {
    border: solid 2px rgb(155, 155, 155);
    color: white;
}

.modal-body form input[type=submit]:hover {
    background: #1f1e30;
}