@import url('https://fonts.googleapis.com/css?family=Prompt|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* START MAIN CONTENT */
.top-container {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    background: #27283c;
    color: white;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

#locationName {
    font-family: 'Cairo', sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
}

#locationDate {
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.weather-icon-table .row {
    margin: auto;
    width: 40%;
}

.topTempTable {
    line-height: 80px;
    font-family: 'Cairo', sans-serif;
    font-size: 70px;
    font-weight: 100;
}

.top-container span {
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.top-container button {
    display: inline-block;
    margin: 15px;
}

.top-container-table {
    width: 70%;
    padding: 30px;
    margin: 0 auto;
}

.top-container-table .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-container-table .row .col {
    text-align: center;
}

.btn, .btn-active {
    margin: auto;
    background: transparent;
    outline: none;
}

.btn:hover {
    border: solid rgb(179, 179, 179);
    background: #1f1e30;
}
.btn-active:hover {
    background: transparent;
    border-color: white;
}

.btn-active {
    border: solid #fff;
    border-width: 3px;
}

.day-container,
.hour-container {
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-bottom: 15px;
    background: #27283c;
    color: white;
    text-align: center;
}

.day-container .row,
.hour-container .row {
    padding: 30px;
    height: 300px;
    width: 100%;
}

.day-container .row a,
.hour-container .row a {
    text-decoration: none;
    color: white;
}

.day-container .btn {
    height: 100%;
    margin: auto;
    width: fit-content;
    display: inline-block;
}
.hour-container .btn {
    height: 100%;
    margin: auto 10px auto 10px;
    width: fit-content;
    display: inline-block;
}

.hour-container .col {
    height: 100%;
    width: fit-content;
    display: inline-block;
}

.day-container .col span {
    display: block;
    line-height: 45px;
    color: white;
}
.hour-container .col span {
    display: block;
    line-height: 70px;
    color: white;
}

.btn:hover,
.btn:active,
.btn:focus,
.bnt::selection {
    border-width: 3px;
    outline: none;
}

.rowTitle {
    font-family: 'Cairo', sans-serif;
    font-size: x-large;
}

.row-active {
    font-weight: 900;
}

.data-container {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    background: #27283c;
    color: white;
    text-align: center;
}

.data-container .table-content {
    padding: 1%;
}

.data-container .row {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 150%;
}

.data-container .row .col span {
    display: block;
}

.data-container .data-title {
    font-family: 'Cairo', sans-serif;
    font-size: large;
    font-weight: 900;
}

/* END MAIN CONTENT */

.daily-mode-modal-1 .modal-content,
.daily-mode-modal-2 .modal-content,
.daily-mode-modal-3 .modal-content,
.daily-mode-modal-4 .modal-content,
.hourly-mode-modal-0 .modal-content,
.hourly-mode-modal-5 .modal-content,
.hourly-mode-modal-10 .modal-content,
.hourly-mode-modal-11 .modal-content,
.historical-mode-modal .modal-content,
.recommendations-mode-modal .modal-content {
    background: #1f1e30;
    color: white;
}

#modalLocationName {
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.modal-body .accordion .card .card-body {
    color: #111;
}

.toggle-buttons {
    background: transparent;
    border: solid white;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}

.toggle-buttons:hover {
    background: #1f1e30;
    border: solid white;
    border-width: 2px;
    color: white;
}

.toggle-buttons::selection {
    outline: none;
}

.btn-link:hover {
    background: transparent;
    border: none;
}